.env
.env-development
.env-production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Random crap
trash
.DS_Store
.sass-cache
.tmp
.rvmrc
.trashes
*~

# Gatsby related
.cache/
public

# Editor
.vscode
.vscode-test
*.sublime-project
*.sublime-workspace
sftp-config.json

backend/node_modules/.bin/nodemon
*.yml
*.bnf
*.json
*.md
backend/node_modules/.bin/is-ci
backend/node_modules/.bin/mime
backend/node_modules/.bin/nodemon
backend/node_modules/.bin/nodetouch
backend/node_modules/.bin/nopt
backend/node_modules/.bin/rc
backend/node_modules/.bin/semver
backend/node_modules/is-ci/bin.js
backend/node_modules/is-ci/CHANGELOG.md
backend/node_modules/is-ci/index.js
backend/node_modules/is-ci/LICENSE
backend/node_modules/is-ci/package.json
backend/node_modules/is-ci/README.md
backend/node_modules/make-dir/node_modules/.bin/semver
backend/node_modules/make-dir/node_modules/semver/bin/semver.js
backend/node_modules/make-dir/node_modules/semver/CHANGELOG.md
backend/node_modules/make-dir/node_modules/semver/LICENSE
backend/node_modules/make-dir/node_modules/semver/package.json
backend/node_modules/make-dir/node_modules/semver/range.bnf
backend/node_modules/make-dir/node_modules/semver/README.md
backend/node_modules/make-dir/node_modules/semver/semver.js
backend/node_modules/mime/CHANGELOG.md
backend/node_modules/mime/cli.js
backend/node_modules/mime/LICENSE
backend/node_modules/mime/mime.js
backend/node_modules/mime/package.json
backend/node_modules/mime/README.md
backend/node_modules/mime/src/build.js
backend/node_modules/mime/src/test.js
backend/node_modules/nodemon/.jshintrc
backend/node_modules/nodemon/.releaserc
backend/node_modules/nodemon/.travis.yml
backend/node_modules/nodemon/bin/nodemon.js
backend/node_modules/nodemon/bin/postinstall.js
backend/node_modules/nodemon/commitlint.config.js
backend/node_modules/nodemon/doc/cli/authors.txt
backend/node_modules/nodemon/doc/cli/config.txt
backend/node_modules/nodemon/doc/cli/help.txt
backend/node_modules/nodemon/doc/cli/logo.txt
backend/node_modules/nodemon/doc/cli/options.txt
backend/node_modules/nodemon/doc/cli/topics.txt
backend/node_modules/nodemon/doc/cli/usage.txt
backend/node_modules/nodemon/doc/cli/whoami.txt
backend/node_modules/nodemon/lib/cli/index.js
backend/node_modules/nodemon/lib/cli/parse.js
backend/node_modules/nodemon/lib/config/command.js
backend/node_modules/nodemon/lib/config/defaults.js
backend/node_modules/nodemon/lib/config/exec.js
backend/node_modules/nodemon/lib/config/index.js
backend/node_modules/nodemon/lib/config/load.js
backend/node_modules/nodemon/lib/help/index.js
backend/node_modules/nodemon/lib/monitor/index.js
backend/node_modules/nodemon/lib/monitor/match.js
backend/node_modules/nodemon/lib/monitor/run.js
backend/node_modules/nodemon/lib/monitor/signals.js
backend/node_modules/nodemon/lib/monitor/watch.js
backend/node_modules/nodemon/lib/nodemon.js
backend/node_modules/nodemon/lib/rules/add.js
backend/node_modules/nodemon/lib/rules/index.js
backend/node_modules/nodemon/lib/rules/parse.js
backend/node_modules/nodemon/lib/spawn.js
backend/node_modules/nodemon/lib/utils/bus.js
backend/node_modules/nodemon/lib/utils/clone.js
backend/node_modules/nodemon/lib/utils/colour.js
backend/node_modules/nodemon/lib/utils/index.js
backend/node_modules/nodemon/lib/utils/log.js
backend/node_modules/nodemon/lib/utils/merge.js
backend/node_modules/nodemon/lib/version.js
backend/node_modules/nodemon/LICENSE
backend/node_modules/nodemon/package.json
backend/node_modules/nodemon/README.md
backend/node_modules/nopt/bin/nopt.js
backend/node_modules/nopt/examples/my-program.js
backend/node_modules/nopt/lib/nopt.js
backend/node_modules/nopt/LICENSE
backend/node_modules/nopt/package.json
backend/node_modules/nopt/README.md
backend/node_modules/package-json/node_modules/.bin/semver
backend/node_modules/package-json/node_modules/semver/bin/semver.js
backend/node_modules/package-json/node_modules/semver/CHANGELOG.md
backend/node_modules/package-json/node_modules/semver/LICENSE
backend/node_modules/package-json/node_modules/semver/package.json
backend/node_modules/package-json/node_modules/semver/range.bnf
backend/node_modules/package-json/node_modules/semver/README.md
backend/node_modules/package-json/node_modules/semver/semver.js
backend/node_modules/rc/browser.js
backend/node_modules/rc/cli.js
backend/node_modules/rc/index.js
backend/node_modules/rc/lib/utils.js
backend/node_modules/rc/LICENSE.APACHE2
backend/node_modules/rc/LICENSE.BSD
backend/node_modules/rc/LICENSE.MIT
backend/node_modules/rc/package.json
backend/node_modules/rc/README.md
backend/node_modules/rc/test/ini.js
backend/node_modules/rc/test/nested-env-vars.js
backend/node_modules/rc/test/test.js
backend/node_modules/semver-diff/node_modules/.bin/semver
backend/node_modules/semver-diff/node_modules/semver/bin/semver.js
backend/node_modules/semver-diff/node_modules/semver/CHANGELOG.md
backend/node_modules/semver-diff/node_modules/semver/LICENSE
backend/node_modules/semver-diff/node_modules/semver/package.json
backend/node_modules/semver-diff/node_modules/semver/range.bnf
backend/node_modules/semver-diff/node_modules/semver/README.md
backend/node_modules/semver-diff/node_modules/semver/semver.js
backend/node_modules/semver/bin/semver
backend/node_modules/semver/CHANGELOG.md
backend/node_modules/semver/LICENSE
backend/node_modules/semver/package.json
backend/node_modules/semver/range.bnf
backend/node_modules/semver/README.md
backend/node_modules/semver/semver.js
backend/node_modules/touch/bin/nodetouch.js
backend/node_modules/touch/index.js
backend/node_modules/touch/LICENSE
backend/node_modules/touch/package.json
backend/node_modules/touch/README.md
backend/node_modules/update-notifier/node_modules/.bin/semver
backend/node_modules/update-notifier/node_modules/semver/bin/semver.js
backend/node_modules/update-notifier/node_modules/semver/CHANGELOG.md
backend/node_modules/update-notifier/node_modules/semver/classes/comparator.js
backend/node_modules/update-notifier/node_modules/semver/classes/index.js
backend/node_modules/update-notifier/node_modules/semver/classes/range.js
backend/node_modules/update-notifier/node_modules/semver/classes/semver.js
backend/node_modules/update-notifier/node_modules/semver/functions/clean.js
backend/node_modules/update-notifier/node_modules/semver/functions/cmp.js
backend/node_modules/update-notifier/node_modules/semver/functions/coerce.js
backend/node_modules/update-notifier/node_modules/semver/functions/compare-build.js
backend/node_modules/update-notifier/node_modules/semver/functions/compare-loose.js
backend/node_modules/update-notifier/node_modules/semver/functions/compare.js
backend/node_modules/update-notifier/node_modules/semver/functions/diff.js
backend/node_modules/update-notifier/node_modules/semver/functions/eq.js
backend/node_modules/update-notifier/node_modules/semver/functions/gt.js
backend/node_modules/update-notifier/node_modules/semver/functions/gte.js
backend/node_modules/update-notifier/node_modules/semver/functions/inc.js
backend/node_modules/update-notifier/node_modules/semver/functions/lt.js
backend/node_modules/update-notifier/node_modules/semver/functions/lte.js
backend/node_modules/update-notifier/node_modules/semver/functions/major.js
backend/node_modules/update-notifier/node_modules/semver/functions/minor.js
backend/node_modules/update-notifier/node_modules/semver/functions/neq.js
backend/node_modules/update-notifier/node_modules/semver/functions/parse.js
backend/node_modules/update-notifier/node_modules/semver/functions/patch.js
backend/node_modules/update-notifier/node_modules/semver/functions/prerelease.js
backend/node_modules/update-notifier/node_modules/semver/functions/rcompare.js
backend/node_modules/update-notifier/node_modules/semver/functions/rsort.js
backend/node_modules/update-notifier/node_modules/semver/functions/satisfies.js
backend/node_modules/update-notifier/node_modules/semver/functions/sort.js
backend/node_modules/update-notifier/node_modules/semver/functions/valid.js
backend/node_modules/update-notifier/node_modules/semver/index.js
backend/node_modules/update-notifier/node_modules/semver/internal/constants.js
backend/node_modules/update-notifier/node_modules/semver/internal/debug.js
backend/node_modules/update-notifier/node_modules/semver/internal/identifiers.js
backend/node_modules/update-notifier/node_modules/semver/internal/parse-options.js
backend/node_modules/update-notifier/node_modules/semver/internal/re.js
backend/node_modules/update-notifier/node_modules/semver/LICENSE
backend/node_modules/update-notifier/node_modules/semver/package.json
backend/node_modules/update-notifier/node_modules/semver/preload.js
backend/node_modules/update-notifier/node_modules/semver/range.bnf
backend/node_modules/update-notifier/node_modules/semver/ranges/gtr.js
backend/node_modules/update-notifier/node_modules/semver/ranges/intersects.js
backend/node_modules/update-notifier/node_modules/semver/ranges/ltr.js
backend/node_modules/update-notifier/node_modules/semver/ranges/max-satisfying.js
backend/node_modules/update-notifier/node_modules/semver/ranges/min-satisfying.js
backend/node_modules/update-notifier/node_modules/semver/ranges/min-version.js
backend/node_modules/update-notifier/node_modules/semver/ranges/outside.js
backend/node_modules/update-notifier/node_modules/semver/ranges/simplify.js
backend/node_modules/update-notifier/node_modules/semver/ranges/subset.js
backend/node_modules/update-notifier/node_modules/semver/ranges/to-comparators.js
backend/node_modules/update-notifier/node_modules/semver/ranges/valid.js
backend/node_modules/update-notifier/node_modules/semver/README.md
