@font-face {
     font-family: 'DINPro Light';
     font-style: normal;
     font-weight: normal;
     src: local('DINPro Light'), url('../fonts/dinpro_font/DINPro-Light.woff2') format('woff2');
  }
  
     
     html {
       font-size: 62.5%;
     }
     body {
       font-family: 'DINPro Light';
       font-size: 1.6rem;
       font-weight: 400;
       font-size: 18px;
       color: black;
     }
     

.bg {
     position: relative;
     height: 100vh;
   }
.bg:before {
  background: url('../img/background.png') center / cover;
  content: '';
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: -1;
  opacity: 0.5;
}

.start-btn{
  text-align: center;
display: inline-block;
margin:5px;
  font-weight: bold;
  padding: 20px ;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
-moz-border-radius: 7px;
-o-border-radius: 7px;
border-radius: 7px;
  box-shadow: 0 .2em gray; 
  cursor: pointer;

}


.banner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  color: #fff;
  text-align: center;
  z-index: 1;
  margin-top: 10%;
}
.banner h1 {
  font-weight: 800;
}
.banner p {
  font-weight: 700;
}

 

h1 {
  margin-bottom: 0.5em;
  font-size: 3.6rem;
}



 @media screen and (min-width: 767px) {
     .banner {
       padding: 0 150px;
     }
     .banner h1 {
       font-size: 5rem;
     }
     .banner p {
       font-size: 2rem;
     }
    
   }


/* estilo para pantalla de ayuda*/

.container{
     width: 100%;
     padding: 0;
 }
 
.choice{
    
     height: 200px;
     box-sizing: border-box;
     padding: 0;
     overflow: hidden;
     float: left;
     align-items: center;
     transition: width 0.6s;
        border-radius:3px;
     
 }
 
 .expand{
     width :64%;
     
     
     
 }
 .unset{
     width :15%;
     background-color: #ddd !important;
     
 }
 .small{
     width :4%;
     background-color: #ddd !important;
 }
 .small>div{
     opacity: 0;
 }
 
 .unset > div > p{
     opacity: 0;
     
 }
 
 .expand > div {
     transition-delay:  200ms;
     opacity: 1;
 }

 .expand > div > h4 {
     padding: 0px !important;
 }

 .card-title{
     font-size: 15px;
     font-weight: bold;
     color: #05386b;
     text-align: center;
     padding-top: 70px;
 }

 .help-title{
     text-align: center;
     font-size: 50x;
     margin: 50px;
     font-size: 50px;
     color: white;
 }

 /*FIN AYUDA*/

 .data{
     text-align: center;
     
     color: black;
     font-family: poppins;
     font-size: 3em;
     letter-spacing: 12px;
     font-weight: 700;
   }
   .quote{
     text-align: center;
     color: #05386b;
     font-family: ubuntu, poppins;
     font-size: 3em;
     letter-spacing: 12px;
     font-weight: 800;
   }

  .boat-type-img{
    margin-top: 30px;
  }

  .pregame-p{
    font-size: 30px;
    margin-top: 40px;
  }

  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 2rem; 
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}