@font-face {
     font-family: 'DINPro Light';
     font-style: normal;
     font-weight: normal;
     src: local('DINPro Light'), url('../fonts/dinpro_font/DINPro-Light.woff2') format('woff2');
  }
  
     
     html {
       font-size: 62.5%;
     }
     body {
       font-family: 'DINPro Light';
       font-size: 1.6rem;
       font-weight: 400;
       font-size: 18px;
       color: black;
     }
     

.bg {
     position: relative;
     height: 100vh;
   }
   .bg:before {
     background: url('../img/background.png') center / cover;
     content: '';
     position: absolute;
     left: 0; right: 0; top: 0; bottom: 0;
     z-index: -1;
     opacity: 0.5;
   }


.banner {
     display: flex;
     align-items: center;
     position: relative;
     height: 100%;
     color: #fff;
     text-align: center;
     z-index: 1;
}
.banner h1 {
     font-weight: 800;
}
.banner p {
     font-weight: 700;
}

 

h1 {
    margin-bottom: 0.5em;
    font-size: 3.6rem;
}



.video-game-button {
  background-color: black;
  font-size: 30pt;
  font-family: 'Press Start 2p';
	text-shadow: 1px 1px pink, -1px -1px maroon;

	line-height: 1.5em;
	text-align: center;
	display: inline-block;
	width: 1.5em;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	-o-border-radius: .75em;
		border-radius: .75em;
	background-color: red;
	-webkit-box-shadow:  0 .2em maroon;
	-moz-box-shadow:  0 .2em maroon;
	-o-box-shadow:  0 .2em maroon;
	box-shadow:  0 .2em maroon;
	color: red;
	margin: 5px;
	background-color: red;
	background-image: -o-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: -moz-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: -webkit-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	cursor: pointer;
  padding-left: 5px;
}
.start-btn{
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;

}
.video-game-button:active, .start-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}




 @media screen and (min-width: 767px) {
     .banner {
       padding: 0 150px;
     }
     .banner h1 {
       font-size: 5rem;
     }
     .banner p {
       font-size: 2rem;
     }
    
   }


/* estilo para pantalla de ayuda*/

.container{
     width: 100%;
     padding: 0;
 }
 
.choice{
    
     height: 200px;
     box-sizing: border-box;
     padding: 0;
     overflow: hidden;
     float: left;
     align-items: center;
     transition: width 0.6s;
        border-radius:3px;
     
 }
 
 .expand{
     width :64%;
     
     
     
 }
 .unset{
     width :15%;
     background-color: #ddd !important;
     
 }
 .small{
     width :4%;
     background-color: #ddd !important;
 }
 .small>div{
     opacity: 0;
 }
 
 .unset > div > p{
     opacity: 0;
     
 }
 
 .expand > div {
     transition-delay:  200ms;
     opacity: 1;
 }

 .expand > div > h4 {
     padding: 0px !important;
 }

 .card-title{
     font-size: 15px;
     font-weight: bold;
     color: #05386b;
     text-align: center;
     padding-top: 70px;
 }

 .help-title{
     text-align: center;
     font-size: 50x;
     margin: 50px;
     font-size: 50px;
     color: white;
 }

 /*FIN AYUDA*/

 .data{
     text-align: center;
     
     color: black;
     font-family: poppins;
     font-size: 3em;
     letter-spacing: 12px;
     font-weight: 700;
   }
   .quote{
     text-align: center;
     color: #05386b;
     font-family: ubuntu, poppins;
     font-size: 3em;
     letter-spacing: 12px;
     font-weight: 800;
   }