.accordion.width {
    border: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
  }
  
  .accordion.width .card {
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    min-width: min-content;
  }
  
  .accordion.width .card .card-header {
    cursor: pointer;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
  }
  
  .accordion.width .card .card-header:not(.collapsed) {
    pointer-events: none;
  }
  
  .collapsing.width {
    transition: width 0.35s ease;
    height: auto;
    width: 0;
  }
  